/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Color de fondo */
    color: #000000; /* Color del texto */
}

.navbar {
    background-color: #000000; /* Color de fondo del navbar */
    padding: 10px 20px; /* Espaciado del navbar */
}

.navbar .navbar-brand {
    color: white; /* Color del texto de la marca */
}

.navbar .navbar-elementos {
    margin-left: auto; /* Alinear a la derecha */
}

.navbar-lista {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margin */
    display: flex; /* Usar flexbox para alinear elementos horizontalmente */
}

.nav-item {
    margin: 0 10px; /* Espaciado entre los elementos del navbar */
    color: white; /* Color del texto de los elementos */
}

.nav-item:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
}

.card {
    border: 1px solid #dee2e6; /* Borde de las tarjetas */
}


.card-img-top {
    max-height: 300px; /* Altura máxima para las imágenes */
    object-fit: cover; /* Mantener el aspecto */
}

.image-equal-height {
    height: 300px; /* Altura fija para la imagen */
}

.lista-saga {
    list-style-type: none; /* Sin viñetas para la lista de libros */
    padding: 0; /* Sin padding */
}

.item {
    list-style-type: disc; 
    margin: 5px 0; /* Espaciado vertical entre los elementos de la lista */
}

.footer {
    background-color: #000000; /* Fondo negro para el footer */
    padding: 20px 0; /* Espaciado del footer */
}

.footer p {
    color: white; /* Color blanco para el texto del footer */
}

.model-content {
    background-color: #343a40;
     color: white;
}